    /* Remove the navbar's default margin-bottom and rounded borders 
        font-family: 'Roboto Slab', serif;
        font-family: 'Muli', sans-serif;
        font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Rock Salt', cursive;
        font-family: 'Fugaz One', cursive;
        font-family: 'Luckiest Guy', cursive;
        font-family: 'Sigmar One', cursive;
        font-family: 'Bangers', cursive;
        font-family: 'Sanchez', serif;
        font-family: 'Signika Negative', sans-serif;
        font-family: 'Bevan', cursive;
        font-family: 'M PLUS 1p', sans-serif;
        font-family: 'Special Elite', cursive;
*/
a {
    text-decoration: none;
    background: rgba(255,255,255,0.3);
    color: rosybrown;
    padding: 10px 30px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 6px;
    border-left-width: 3px;
    border-right-width: 3px;
}
.hs1 {
    size: 96px;   
}

.hs2 {
    size: 89px;   
}

.hs3 {
    size: 33px;   
}

.hs4 {
    size: 73px;   
}

.hs5 {
    size: 67px;   
}

.hs6 {
    size: 45px;   
}
a:hover {
    text-decoration: none;
    color: indianred;
    background: rgba(255,255,255,0.5);
}
.nav {
    z-index: 3;
    position: fixed;
    top: 0;
    list-style: none;
    display: flex;
    width: 100%;
    height: 51px;
    left: 0;
    margin: auto;
    padding-top: 20px;
    font-size: 24px;
    font-family: 'Oxygen', sans-serif;
    color: white;
    background-color: dimgray;
    padding: 0;
    padding-top: 16px;
}
.nav a {
    border-style: none;
    color: whitesmoke;
    background: transparent;
    padding-top: 10px;
}
.nav a:hover {
    border-style: none;
    color: whitesmoke;
    background: transparent;
    padding-top: 10px;
    background: gray;
}
.nav li {
    width: 25%;
    text-align: center
}
.white {
    color: dimgray;
    background: rgba(255,255,255,0.3);
    font-weight: 600;
}
.rosybrown {
    color: dimgray;
}

img {
    padding: 20px;
    padding-top: 60px;
    size: cover;
    width: 80%;
}
footer {
    color: rosybrown;
    top: 200px;
    background-color: #f2f2f2;
    padding: 40px;
    position: relative;
    bottom: 0px;
    text-align: center;
    z-index: 2;
  }
.hsjs {
    /* font-family: 'Unlock', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Bungee', cursive;
    font-family: 'Acme', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Sedgwick Ave', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Vidaloka', serif;
    font-family: 'VT323', monospace;
    font-family: 'Monoton', cursive;
    font-family: 'Shrikhand', cursive;
    font-family: 'Audiowide', cursive;
    font-family: 'Unica One', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Alegreya Sans SC', sans-serif; */
    font-family: 'Fugaz One', cursive;
}
.backdrop {
    background-image: url("img/minimalist-white-desk.jpg");
    background-size: cover; 
    height: 100%;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.backdrop-1 {
    background-image: url("img/type-writer.jpg");
    background-size: cover; 
    height: 100%;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
}
.backdrop-2 {
    background-image: url("img/pink-white.jpg");
    background-size: cover; 
    height: 100%;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
}
.backdrop-3 {
    background-image: url("img/yellow.jpg");
    background-size: cover; 
    height: 100%;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
}
.backdrop-4 {
    background-image: url("img/station.jpg");
    background-size: cover; 
    height: 100%;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
}
.header {
    position: relative;
    top: 0;
    color: dimgrey;
}
.sub-header{
    width:82%;
    margin:auto;
    padding: 40px;
    background: rgba(250,250,250,0.8);
    z-index: 1;

}
.intro {

}
.headshot{
    background: url("img/headshot.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
}
.intro-blurb {
    width: 70%;
    margin: auto;
    size: 40px;
    height: 300px;
}
.section{
    width: 95%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: whitesmoke;
    border-radius: 3px;
    background-color: rgba(189,143,143,0.8);
    color: white;
    font-weight: 600;
    margin: auto;
    font-family: 'Fugaz One', cursive;
    position: relative;
    top: 0;
    z-index: 1;
    min-height: 500px;
    height: auto;
    margin-top: 280px;
}
.intern-section{
    width: 88%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    border-color: whitesmoke;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.9);
    color: rosybrown;
    font-weight: 600;
    margin: auto;
    font-family: 'Fugaz One', cursive;
    position: relative;
    top: 95px;
    z-index: 1;
    min-height: 500px;
    height: auto;
}
.section-header{
    font-weight: 200;
    font-size: 50px;
    background: rosybrown;
    color: whitesmoke;
}
.section-sub-header {
    width: 100%;
    background: whitesmoke;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 34px;
    padding: 10px 0;
}
.section-wrapper{
    width: 100%;
    height: auto;
}
.sub-section {
    height: auto;
    min-height: 500px;
    width: 100%;
}
.text-section {
    width: 53%;
    margin: auto;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 20px 15px;
}
.text-section-1{
    width: 80%;
    margin: auto;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
}
.section-link {
    width: 100%;
    font-size: 26px;
    position: relative;
    top: 17px;
}
.section-img {
    width:43%;
    float: left;
    background-size: cover;
    border-radius: 10px;
    height: 300px;
    margin-top: 59px;
}
.left {
    float: left;
    margin-left: 10px;
}
.right {
    float: right;
    margin-right: 10px;
}
.big-button {
    font-size: 40px;
    font-weight: 600;
}
.contact-links {
    position: relative;
    top: 55px;
}
.contact-links > a {
    color: dimgray;
    font-size: 30px;
}
.img-intern-1 {
    background-image: url('img/crm2.png');
}
.img-intern-2 {
    background-image: url('img/asi1.png');
}
.img-edu-1 {
    background-image: url('img/final-project-add.png');
    float: left;
}
.img-edu-2 {
    background-image: url('img/p1-define.png');
}